

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

a {
  color: white !important;
}

.brand-logo {
  font-family: "Dancing Script", cursive;
  margin-right: 750px;
  position: fixed;

}

.cardd{
  margin-top:50px;
 width: 700px;
 margin: auto;
 border: 2px solid rgb(3, 3, 3);
 padding: 10px;
 height: 500px;

}
.colll{
color: black;
}

.card1{
  padding:80px;
  text-align:center;
  max-width: 600px;
  margin:10px auto
  
}
.home-card{
  max-width: 700px;
  height: max-content;
  margin: 26px auto;
  
}
.movv{
  margin-right: 300px;
}


